
@font-face {
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/Inter_1.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/Inter_1.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/Inter_1.ttf) format(truetype);
}

		